@{
    ViewBag.Title = "Run Dummy Games";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

<h2>Run dummy games</h2>
<div class="row-fluid">
    <div class="offset4">
        <input type="number" id="InputField" class="span2"/>
        <span>
            <button id="GoButton" data-start="true" class="offset1 btn-secondary">Start</button>
        </span>
    </div>
    
    
    
</div>

<div id="console" style="height:300px; overflow:scroll;">
   
</div>

@section scripts {
   @Scripts.Render("~/bundles/gameSimulator")    
    <script>
        $('document').ready(function () {
            ConsoleLogger.init();
            $('#GoButton').on('click', function () {
                var $Textbox = $('#InputField'),
                    i = $Textbox.val(),
                    $button = $('#GoButton'),
                    start = $button.data('start');
                if (start) {
                    if (!$.isNumeric(i)) {
                        i = 1;
                        $Textbox.val(1);
                    }
                    if (i > 6) {
                        i = 5;
                        $Textbox.val(5);
                    }
                    GameSimulator.start(i);
                    $button.html('Stop');
                    $button.data('start', false);
                }
                else {
                    GameSimulator.stop();
                    $button.html('Start');
                    $button.data('start', true);
                }
                });
        })
    </script>
}