@{
    ViewBag.Title = "Run Dummy Games";
    ViewBag.HeaderText = "Simulated Activity";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

<div class="row-fluid">
    <div class="text-center">
        <label for="InputField" > Number of Concurent Games: </label>
        <input type="number" id="InputField" class="span2" />
    </div>
    <button id="GoButton" data-start="true" class="offset4 span4">Start</button>
    
    
</div>

<div id="console">
   
</div>

@section scripts {
   @Scripts.Render("~/bundles/gameSimulator")    
    <script>
        $('document').ready(function () {
            //--ConsoleLogger.init();
            $('#GoButton').on('click', function () {
                var $Textbox = $('#InputField'),
                    i = $Textbox.val(),
                    $button = $('#GoButton'),
                    start = $button.data('start');
                if (start) {
                    if (!$.isNumeric(i)) {
                        i = 1;
                        $Textbox.val(1);
                    }
                    if (i > 6) {
                        i = 5;
                        $Textbox.val(5);
                    }
                    GameSimulator.start(i);
                    $button.html('Stop');
                    $button.data('start', false);
                }
                else {
                    GameSimulator.stop().done(function () {
                        $button.html('Start');
                        $button.data('start', true);
                        $button.removeAttr('disabled', 'disabled');
                    });
                    $button.html('Stopping...');
                    $button.data('start', false);
                    $button.attr('disabled', 'disabled');
                }
                });
        })
    </script>
}