@{
    ViewBag.Title = "Run Dummy Games";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<h2>Run dummy games</h2>
<input type="number" id="InputField" />
<button id="GoButton" Data-start="true" style="text-align:center">Start</button>
<div id="console">
   
</div>

@section scripts {
    <script src="~/Scripts/DivConsoleLogger.js"></script>
    <script src="~/Scripts/Roshambo/Game.js"></script>
    <script src="~/Scripts/Roshambo/SimulatedGameSession.js"></script>
    <script src="~/Scripts/Roshambo/GamesSimulator.js"></script>
    
    <script>
        $('document').ready(function () {
            ConsoleLogger.init();
            $('#GoButton').on('click', function () {
                var $Textbox = $('#InputField'),
                    i = $Textbox.val(),
                    $button = $('#GoButton'),
                    start = $button.data('start');
                if (start) {
                    if (!$.isNumeric(i)) {
                        i = 1;
                        $Textbox.val(1);
                    }
                    if (i > 6) {
                        i = 5;
                        $Textbox.val(5);
                    }
                    GameSimulator.start(i);
                    $button.html('Stop');
                    $button.data('start', false);
                }
                else {
                    GameSimulator.stop();
                    $button.html('Start');
                    $button.data('start', true);
                }
                });
            $('#StopButton').on('click', function () {
                GameSimulator.stop();
            });
        })
    </script>
}