@{
    ViewBag.Title = "DummyGame";
}

<h2>DummyGame</h2>

<button id="GoButton">Run</button>

@section scripts {
    <script src="~/Scripts/Roshambo/GamesSimulator.js"></script>
    
    <script>
        $('document').ready( function() {
            $('#GoButton').on('click', function () {
                GameSimulator.start();
                });
        })
    </script>
}