@{
    ViewBag.Title = "DummyGame";
}

<h2>DummyGame</h2>
<input type="number" id="InputField" />
<button id="GoButton">Start</button>
<button id="StopButton">Stop</button>
@section scripts {

    <script src="~/Scripts/Roshambo/SimulatedGameSession.js"></script>
    <script src="~/Scripts/Roshambo/GamesSimulator.js"></script>
    
    <script>
        $('document').ready( function() {
            $('#GoButton').on('click', function () {
                var $Textbox = $('#InputField'),
                    i = $Textbox.val();
                if (!$.isNumeric(i)) {
                    i = 1;
                    $Textbox.val(1);
                }
                if (i > 6) {
                    i = 5;
                    $Textbox.val(5);
                }
                GameSimulator.start(i);
            });
            $('#StopButton').on('click', function () {
                GameSimulator.stop();
            });
        })
    </script>
}