@{
    ViewBag.Title = "Run Dummy Games";
    Layout = "/Views/Shared/_PopupLayout.cshtml";
}

<h2>Run dummy games</h2>
<input type="number" id="InputField" />
<button id="GoButton" style="text-align:center">Start</button>
<button id="StopButton">Stop</button>
<div id="console">
   
</div>

@section scripts {
    <script src="~/Scripts/DivConsoleLogger.js"></script>
    <script src="~/Scripts/Roshambo/Game.js"></script>
    <script src="~/Scripts/Roshambo/SimulatedGameSession.js"></script>
    <script src="~/Scripts/Roshambo/GamesSimulator.js"></script>
    
    <script>
        $('document').ready(function () {
            ConsoleLogger.init();
            $('#GoButton').on('click', function () {
                var $Textbox = $('#InputField'),
                    i = $Textbox.val();
                if (!$.isNumeric(i)) {
                    i = 1;
                    $Textbox.val(1);
                }
                if (i > 6) {
                    i = 5;
                    $Textbox.val(5);
                }
                GameSimulator.start(i);
            });
            $('#StopButton').on('click', function () {
                GameSimulator.stop();
            });
        })
    </script>
}