<div class="wrapper4"></div>

<div class="wrapper4">
   
@using( Html.BeginForm())
{
    <h3>Please enter your name before you start</h3>
    @Html.TextBox("username", null)
    <div id="avatarSelectionBox">
        <div class="avatar">
            <input type="radio" name="avatar" id="ConeOfShame" checked="checked" value="ConeOfShame.jpg" />
            <label for="ConeOfShame">
                <img src="~/Content/Images/Avatars/ConeOfShame.jpg" />
            </label>
        </div>
        <div class="avatar">
            <input type="radio" name="avatar" id="Drunk-hamster" hidden="hidden" value="Drunk-hamster.jpg" />
            <label for="Drunk-hamster">
                <img src="~/Content/Images/Avatars/Drunk-hamster.jpg" />
            </label>
        </div>
        <div class="clear-fix"></div>
    </div>
    
   <input type="submit" value="Start Game" />
}
</div>

<div class="clear-fix"></div>