<div class="wrapper4"></div>

<div class="wrapper4">
@using( Html.BeginForm())
{
    <h3>Please enter your name before you start</h3>
    @Html.TextBox("username", null)
   <input type="submit" value="Start Game" />
}
</div>

<div class="clear-fix"></div>