<div class="wrapper4"></div>

<div class="wrapper4">
@using( Html.BeginForm())
{
    <p>Please enter your name before you start</p>
    @Html.TextBox("username", null)
   <input type="submit" value="Start Game"/>
}
</div>

<div class="clear-fix"></div>