#gameContainer {
    position:relative;
}
#gameBannerMessage {
    height:60px;
    width: 460px;
}
.playerPanel {
    width:160px;
    height:120px;
    margin:0px;
    padding:0px;
}

.centerPanel {
    width:140px;
    height:120px;
    float:left;
    text-align:center;
    
}

.playerImage {
    width:80px;
    height:120px;
    float:left;
    line-height:120px;
}
.playerImage img {
    display: inline; 
    vertical-align: middle;
    
        
}
.playerSelection {
    width:80px;
    height:120px;
    text-align:center;
    vertical-align:middle;
    float:left;
}
.playerSelection img {
    display: block; 
    margin-top:33px;
}

.gamePanel {

}


#playerOne {
    float:left;
}


#playerTwo {
  float:right;
}
    


#userMessage {
     margin-top:30px;
    
}
#GameRounds {
   
}

#playerOptions {
    
    text-align:justify;
}
#playerOptions button{
    margin:0px;
    display:inline-block;
    width:80px;
}

#playerOptions button img{
    height:25px;
}
#playerOptions:after {
    content:'';
    width:100%;
    display:inline-block;
}

#p1Selection {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

