/*#region SiteStyle*/
@font-face {
  font-family: 'BowlbyOne-Regular';
  src: url('/Content/Fonts/BowlbyOne-Regular.eot');
  src: url('/Content/Fonts/BowlbyOne-Regular.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/BowlbyOne-Regular.woff') format('woff'), url('/Content/Fonts/BowlbyOne-Regular.ttf') format('truetype'), url('/Content/Fonts/BowlbyOne-Regular.svg#leckerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*#endregion*/
/*#region Basic Elements*/
html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0px;
  padding: 10px 0px 20px 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  margin: 0;
  padding: 15px 0px 5px 0px;
  font-family: 'BowlbyOne-Regular', sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
h3 {
  font-size: large;
}
a {
  color: #000000;
}
.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*#endregion*/
/*#region StatsPage*/
.Rock {
  background-color: black;
}
.Scissor {
  background-color: gray;
}
.Paper {
  background-color: blue;
}
.bar {
  height: 10px;
}
.roundStat {
  float: left;
  padding: 5px;
}
/*#endregion*/
/*#region Header*/
nav {
  margin: 0px;
}
nav a {
  display: block;
  float: right;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: #000000 #000000 #ffffff #000000;
  padding: 5px;
  border-top-left-radius: 10px;
  margin: 0px 5px 0px 5px;
  text-decoration: none;
}
header {
  height: 55px;
  border: 2px solid #000000;
  font-family: 'BowlbyOne-Regular', sans-serif;
  letter-spacing: 1px;
  background-color: #b22222;
  line-height:55px;
}
header a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 40px;
  padding: 2px 0px;
  color: #ffffff;
}
/*#endregion*/
/*#region inputs*/
input,
textarea {
  border: 1px solid #24a9fe;
  background: #ffffff;
  color: #000000;
  font-size: 1.2em;
  margin: 10px auto;
  padding: 5px;
  width: auto;
  display: block;
}
textarea {
  font-family: inherit;
  width: 100%;
}
input:focus,
textarea:focus {
  border: 1px solid #b22222;
}
input[type="submit"],
input[type="button"],
button {
  background-color: #0c527f;
  border: 1px solid #24a9fe;
  color: #dddddd;
  cursor: pointer;
  font-family: 'BowlbyOne-Regular', sans-serif;
  letter-spacing: 1px;
  font-size: 1.3em;
  padding: 7px;
  margin: 0px auto;
  width: auto;
}
input[type="submit"],
input[type="button"],
button img {
  margin: -7px auto;
}
/*#endregion*/
/*#region Index*/
input[type=radio]:checked + label img {
  border: solid #b22222 5px;
}
.avatar {
  float: left;
  margin: 5px;
  height: 120px;
  line-height: 120px;
}
.avatar img {
  display: inline;
  border: solid 5px #ffffff;
  vertical-align: middle;
}
#avatarSelectionBox {
  margin: 20px -10px;
}
#avatarSelectionBox input[type=radio] {
  display: none;
}
/*#endregion*/
/*#region defaults*/
/*#endregion*/
