/*#region SiteStyle*/


//Colour Palette
@Background: #F1F2C0;
@Foreground: #332F29;
@Overflow: #CCC59E;
@Primary:#8FA68E;
@PrimaryContrast:#332F29;
@PrimaryHighlight:#CCC59E;
@Secondary: #CC3910;
@SecondaryContrast:#332F29;
@SecondaryHighlight: #F1F2C0;
@SecondaryBoxShadow: rgba(204, 57, 16, 0.6);
//Fonts

@font-face {
    font-family: 'BowlbyOne-Regular';
    src: url('/Content/Fonts/BowlbyOne-Regular.eot');
    src: url('/Content/Fonts/BowlbyOne-Regular.eot?#iefix') format('embedded-opentype'),
         url('/Content/Fonts/BowlbyOne-Regular.woff') format('woff'),
         url('/Content/Fonts/BowlbyOne-Regular.ttf') format('truetype'),
         url('/Content/Fonts/BowlbyOne-Regular.svg#leckerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@BaseFont: "Segoe UI", Verdana, Helvetica, Sans-Serif;
@EmphaticFont: 'BowlbyOne-Regular', sans-serif;
/*#endregion*/

/*#region Basic Elements*/

html {
    background-color:@Overflow;
    margin: 0;
    padding: 0;
}

body {
    background-color: @Background;
    border:none;
    color: @Foreground;
    font-size: .85em;
    font-family: @BaseFont;
    margin: 0px;
    padding: 10px 0px 20px 0px;
}

h1, h2, h3,
h4, h5, h6 {
    color: @Foreground;
    margin: 0;
    padding: 15px 0px 5px 0px;
    font-family:@EmphaticFont ;
    text-align:center;
    letter-spacing: 1px;
}

h3 {
    font-size: large;
}

a {
    color:@Foreground;
}

 a:link, a:visited,
    a:active, a:hover {
       
    }

 .float {
     float:left;
 }

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*#endregion*/

/*#region StatsPage*/
.Rock {
    background-color:black;
}
.Scissor {
    background-color:gray;
}
.Paper {
    background-color:blue;
}
.bar {
    height:10px;
}
.roundStat {
    float:left;
    padding: 0px 5px 5px 5px;
}
/*#endregion*/

/*#region Header*/

nav {
    margin:0px;

}
nav a{
    display:block;
    float:right;
    color:@Foreground;
    border-width:2px 2px 2px 2px;
    border-style: solid;
    border-color: @PrimaryHighlight;
    
    background: @PrimaryHighlight;
    padding:2px 5px 2px 5px;
    border-top-left-radius: 10px;
    margin:0px 5px -2px 5px;
    text-decoration:none;
}

nav a:hover{
    text-decoration:none;
    background:@Primary;
    border-bottom-color : @Primary;
}


header {
    height:55px;
    border:2px solid @PrimaryHighlight;
    font-family: @EmphaticFont;
    letter-spacing:1px;
    background-color:@Primary;
    line-height:55px;
    
}

header a {
    width:100%;
    height:100%;
    text-align:center;
    display:block;
    text-decoration:none;
    font-size:40px;
    padding:2px 0px;
    color:@PrimaryContrast;
}

    header a:hover {
        color:@PrimaryContrast;
        text-decoration:none;
    }

/*#endregion*/

/*#region inputs*/

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: @PrimaryHighlight;
    border: 1px solid @Primary;
    color: @Foreground;
    font-size: 1.2em;
    margin: 10px auto;
    padding: 5px;
    width:100%;
    display:block;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
}


textarea {
    font-family: inherit;
    width: 100%;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: @Secondary;
  outline: 0;
  /*outline: thin dotted \9;*/
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @SecondaryBoxShadow;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @SecondaryBoxShadow;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @SecondaryBoxShadow;
}

input[type="submit"],
    input[type="button"],
    button {
        background-color:@Primary;
        border: 1px solid @PrimaryHighlight;
        color:@PrimaryContrast;
        cursor: pointer;
        font-family: @EmphaticFont;
        letter-spacing:1px;
        font-size: 1.3em;
        padding: 7px;
        margin:0px auto;
        width: auto;
        display:block;
    }

input[type="submit"],
    input[type="button"],
    button {
        background-color:@Primary;
        border: 1px solid @PrimaryHighlight;
        color:@PrimaryContrast;
        cursor: pointer;
        font-family: @EmphaticFont;
        letter-spacing:1px;
        font-size: 1.3em;
        padding: 7px;
        margin:0px auto;
        width: auto;
    }


input[type="submit"]:hover,
    input[type="button"]:hover,
    button:hover{
       border: 1px solid @Secondary;
       -webkit-box-shadow: 0 0 8px @SecondaryBoxShadow;
     -moz-box-shadow: 0 0 8px @SecondaryBoxShadow;
          box-shadow: 0 0 8px @SecondaryBoxShadow;
    }

.btn-primary {
  color: @SecondaryContrast;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: @Secondary;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  font-size: 1.0em;
  padding: 4px;
  
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: @SecondaryContrast;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
/*#endregion*/

/*#region Index*/
input[type=radio]:checked + label img {
    border: solid @Secondary 3pt;
    border-radius: 2pt;
    -webkit-box-shadow:  0 0 10px @Secondary;
     -moz-box-shadow:  0 0 10px @Secondary;
          box-shadow: 0 0 10px @Secondary;
}
.avatar {
    float: left;
    margin: 10px 5px;
    height: 120px;
    line-height:120px;
}
    .avatar img {
        display: inline;
        border: solid 3pt @Primary;
        border-radius: 2pt;
        -webkit-box-shadow:  0 0 10px @Primary;
         -moz-box-shadow:  0 0 10px @Primary;
              box-shadow: 0 0 10px @Primary;
        vertical-align: middle;
    }
#avatarSelectionBox {
    margin:20px auto;
} 
#avatarSelectionBox input[type=radio] {
    display: none;
            
}
/*#endregion*/

/*#region LiveStatus Box*/
#liveStatusBox {
    margin-top: 20px;
    border: 2px solid @Foreground;
    padding: 5px;
    border-radius: 5px;

}
#liveStatusLog {
    height:300px;
    margin: 0px -5px;
    border-top: solid 2px @Foreground;
    overflow:hidden;
    
}
#liveStatusLog p {
    padding:5px;
    margin:0px;
}

#liveStatusLog :nth-child(even) {
    background: @PrimaryHighlight;
}

/*endregion*/

/*#region console*/
#console {
    height:200px; 
    overflow:scroll;
}
/*#endregion*/

/*#region defaults*/



/*#endregion*/
